.head {
    width: 100%;
    height: 600px;
    max-height: 800px;
    max-width: 1920px;
    background-position: center-bottom;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    height: 310px;
    left: 40px;
    top: 208px;
}

.banner-text {
    height: 212px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 110%;
    color: #FFFFFF;
}

.banner-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 56px;
    gap: 100px;

    width: 218px;
    height: 58px;
    background: #339933;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.banner-button-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
}

.categories-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 40px;
    left: 40px;
    top: 808px;
}


.categories-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 100%;
    height: 70px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.categories-text {
    height: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #282828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.categories-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 0px;
    width: 65vw;
    height: 46px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.categories-line {
    height: 0px;
    border: 1px solid #DDDDDD;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.categories-button {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    text-decoration: none;

    width: 142px;
    height: 36px;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.categories-button:hover {
    background: #F1F3F4;
}

.categories-button:active {
    color: #282828;
}

.categories-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 32px;
    width: 100%;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 20%;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.category-img {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.category-text {
    height: 26px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #282828;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}



.discount-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 0px;
    margin: 32px 32px 0px 32px;
    gap: 24px;

    position: relative;

    background: linear-gradient(261.47deg, #0B710B 32.63%, #339933 98.96%);
    border-radius: 12px;
    }

.discount-text {
    height: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.discount-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 32px;
    height: 360px;
    width: 100%;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.discount-image {
    width: 60%;
    order: 0;
    flex-grow: 0;
}

.sales-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 40px;
    left: 40px;
    top: 808px;
    }
    
    
.sales-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    width: 100%;
    height: 70px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sales-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 32px;
    width: 100%;
    flex: none;
    order: 1;
    flex-grow: 0;
}
































.a {














/* inputs */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 516px;
height: 206px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* btn card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px;
gap: 10px;

width: 516px;
height: 58px;

/* white */
border: 1px solid #FFFFFF;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Name */

width: 452px;
height: 26px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;

/* txt/white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* btn card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px;
gap: 10px;

width: 516px;
height: 58px;

/* white */
border: 1px solid #FFFFFF;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Phone number */

width: 452px;
height: 26px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;

/* txt/white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* btn card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px;
gap: 10px;

width: 516px;
height: 58px;

/* white */
border: 1px solid #FFFFFF;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Email */

width: 452px;
height: 26px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;

/* txt/white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* btn banner */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;

width: 516px;
height: 58px;

/* white */
background: #FFFFFF;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Add to cart */

width: 452px;
height: 26px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* txt/black */
color: #282828;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


}