.product-info-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 50px 30px 50px;
    margin: 30px 50px 30px 50px;
    gap: 32px;

    position: relative;
    height: 572px;
}

.product-info-image {
    height: 572px;
    border-radius: 12px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 70%;
}

.product-info-price-flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: 25px;
    height: 44px;
    flex: none;
}

.product-info-sale {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    color: #282828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.product-info-sale::before {
    content: '$'
}

.product-info-price::before {
    content: '$'
}

.product-info-old-price::before {
    content: '$'
}

.product-info-price {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    color: #282828;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.product-info-old-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-decoration-line: line-through;

    color: #8B8B8B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.product-info-title {
    height: 44px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: #282828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.product-info-visibility {
    width: 63px;
    height: 28px;

    background: #339933;
    border-radius: 8px;
    order: 2;
}

.product-info-percent {
    height: 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 2px;
    color: #FFFFFF;
}

.product-info-add-button {
    height: 45px;
    width: 170px;
    padding-top: 5px;
    cursor: pointer;
    background: #339933;
    border-radius: 10px;
}
    
.product-info-add-button-text {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
}

.product-info-count-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    height: 58px;
}

.product-count-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    height: 58px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #DDDDDD;
    border-radius: 7px;
}

.product-count {
    padding-top: 15px;
}

.product-info-description {
    height: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: #282828;
}