.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 518px;
    height: 26px;
    left: calc(50% - 518px/2);
    top: 54px;

}

.main-page {
    width: 108px;
    height: 26px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-decoration: none;
    color: #282828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.main-page:hover {
    color: #339933;
}

.categories {
    width: 109px;
    height: 26px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-decoration: none;
    color: #282828;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.categories:hover {
    color: #339933;
}

.all-products {
    width: 123px;
    height: 26px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-decoration: none;
    color: #282828;
    flex: none;
    order: 2;
    flex-grow: 0;

}

.all-products:hover {
    color: #339933;
}

.all-sales {
    width: 82px;
    height: 26px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-decoration: none;
    color: #282828;
    flex: none;
    order: 3;
    flex-grow: 0;

}

.all-sales:hover {
    color: #339933;
}