.name {
    height: 70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #282828;
    flex: none;
    order: 0;
    flex-grow: 0;
}