.cards0 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 100%;
    height: 150px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.phone {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 16px;

    width: 780px;
    background: #F1F3F4;
    border-radius: 12px;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.phone-head {
    width: 67px;
    height: 26px;
    margin: 0px;
    margin-bottom: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #8B8B8B;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.phone-value {
    width: 716px;
    height: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: #282828;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.socials {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 16px;
    width: 548px;
    background: #F1F3F4;
    border-radius: 12px;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.socials-head {
    width: 70px;
    height: 26px;
    margin: 0px;
    margin-bottom: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #8B8B8B;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame3318 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 102px;
    height: 44px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.instagram {
    width: 43px;
    height: 44px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.whatsapp {
    width: 43px;
    height: 43px;
    flex: none;
    order: 1;
    flex-grow: 0;
}